$primary-color: #ff6b6b;
$secondary-color: #4ecdc4;
$dark-bg: #2d3436;
$card-bg: #ffffff;
$text-color: #2d3436;
$font-stack: 'Helvetica Neue', sans-serif;

$card-width: 300px;
$card-height: 400px;
$anim-speed: 0.6s;
